################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/TwinCAT-Playgrounds/TwinCAT-Playgrounds/Untitled1/GVLs/GVL_ROS.TcGVL
